.group-feed-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: 600px;
    margin: 0px auto 20px auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.nav-links {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: x-large;
    margin-top: 40px;
}

.nav-links a {
    color: grey;
    text-decoration: none;
}

.nav-links a.active {
    text-decoration: underline;
    color: teal
}

.title h4{
    color: grey;
    margin: 20px 0px;
    font-weight: normal;
}

.group-container {
    display: flex;
    /* align-items: center; */
    gap: 20px;
    max-height: 185px;
    padding: 10px 0px;
}
.group-feed-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.group-container img {
    /* max-width: 250px; */
    width: 180px;
    height: 120px;
    /* max-height: 180px; */
    border-radius: 6px;
}

.group-list-container a {
    text-decoration: none;
}

.group-feed-info-container {
    max-height: 185px;
    /* height: 185px; */
    display: flex;
    flex-direction: column;
    gap: 15px
    /* justify-content: space-between; */
}

.info-section h1 {
    color: black;
    margin: 0px 0px 5px 0px;
    font-size: x-large;
}

.info-section h3 {
    color: grey;
    font-weight: lighter;
    font-size: medium;
    margin: 0px;
} 

.info-section p {
    color: black;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
} 

.group-feed-event-private-section {
    display: flex;
    gap: 5px;
    margin-bottom: 2px;

}

.event-private-element {
    margin: 0px;
    color: gray;
    font-size: medium;
}

.group-events-info-section h2{
    font-weight: normal;
}

.group-details-events-feed-container h2 {
    font-weight: normal;
}
